/*
      misc styles, nothing to do with CSS variables
    */

:root {
    --base: #7ac7e8;
    --spacing: 10px;
    --blur: 5px;
    --border-radius: 30%;
    --background-color: #460909;
}

.image {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    border-radius: var(--border-radius);
}

.hl {
    color: var(--base);
}

/*
        misc styles, nothing to do with CSS variables
      */

body {
    text-align: center;
    background: var(--background-color);
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

h2 {
    color: antiquewhite;
    font-size: 30px;
    text-transform: uppercase;
}

.controls {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}

.controls label {
    font-size: 20px;
    margin-left: 15px;
    text-transform: uppercase;

}

input {
    width: 70px;
}

.image {

    width: 800px;
    height: 600px;

}